<div
  style="
    /* background-image: url(assets/background/1.jpg); */
    background-image: linear-gradient(
        45deg,
        rgba(8, 82, 156, 0.863),
        rgba(245, 69, 66, 0.26)
      ),
      url('assets/background/1.jpg');
    background-size: cover;
    /* padding: 20px; */
    height: 100vh;
  "
>
  <div style="max-width: 1200px; margin: auto">
    <div
      style="
        /* padding: 15px; */
        background-color: rgba(240, 248, 255, 0.603);
        max-width: 450px;
        height: 100vh;
        /* padding: 5vh; */
      "
    >
      <div>
        <!-- <h2 style="font-weight: 300; font-size: 35px">TECH</h2> -->
        <!-- <h3
          style="
            color: orange;
            font-size: 30px;
            padding-left: 10px;
            padding-right: 10px;
          "
        >
          |
        </h3> -->
        <!-- <h3
          style="
            font-weight: 900;
            color: rgba(8, 82, 156, 0.863);
            text-transform: uppercase;
            text-align: center;
            font-size: 35px;
            text-shadow: -1px 1px 0 orange, 1px 1px 0 orange, 1px -1px 0 orange,
              -1px -1px 0 orange;
          "
        >
          Fadiman
        </h3> -->
        <div style="margin: auto; max-width: 300px">
          <img src="assets/logo/1.png" style="width: 100%" />
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
