<div style="background-color: rgb(58, 62, 68); height: 82.5vh">
  <div style="max-width: 1600px; margin: auto">
    <h2>What's on Today</h2>
    <br />
    <h3
      style="background-color: rgb(30, 33, 42); padding-left: 20px; color: #fff"
    >
      Staff in Today
    </h3>
    <div style="background-color: #fff; padding: 20px">
      <table>
        <thead>
          <tr>
            <th>Employee Name</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John Doe</td>
            <td>Cashier</td>
          </tr>
          <tr>
            <td>Jack Simmons</td>
            <td>Manager</td>
          </tr>
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
    <br />
    <h3
      style="background-color: rgb(30, 33, 42); padding-left: 20px; color: #fff"
    >
      Staff on leave
    </h3>
    <div style="background-color: #fff; padding: 20px">
      <table>
        <thead>
          <tr>
            <th>Employee Name</th>
            <th>Role</th>
            <th>From Date</th>
            <th>To Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John Doe</td>
            <td>Cashier</td>
            <td>DD/MM/YYYY</td>
            <td>DD/MM/YYYY</td>
          </tr>
          <tr>
            <td>Jack Simmons</td>
            <td>Manager</td>
            <td>DD/MM/YYYY</td>
            <td>DD/MM/YYYY</td>
          </tr>
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
    <br />
    <h3
      style="background-color: rgb(30, 33, 42); padding-left: 20px; color: #fff"
    >
      UpComming Birthdays
    </h3>
    <div style="background-color: #fff; padding: 20px">
      <table>
        <thead>
          <tr>
            <th>Employee Name</th>
            <th>Role</th>
            <th>Birthday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John Doe</td>
            <td>Cashier</td>
            <td>DD/MM/YYYY</td>
          </tr>
          <tr>
            <td>Jack Simmons</td>
            <td>Cashier</td>
            <td>DD/MM/YYYY</td>
          </tr>
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
  </div>
</div>
