<div style="background-color: #eeeeee; padding: 3vh 2vw">
  <div
    style="
      height: 94vh;
      width: 100%;

      border-radius: 25px;

      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.767) 0%,
        rgba(32, 5, 5, 0.02) 100%
      );
    "
  >
    <div style="padding: 25px; display: flex; justify-content: space-between">
      <div>
        <h1 style="color: #7e7e7e">BUSINESS NAME</h1>
        <br />
        <p>USER NAME</p>
      </div>
      <div>
        <button
          style="
            padding: 15px 20px;
            border-radius: 3px;
            background-color: rgb(89, 63, 129);
            border: none;
          "
        >
          <i class="fa fa-plus-circle" aria-hidden="true"></i>Add Employee
        </button>
      </div>
    </div>
    <!-- <div class="" style="display: flex; padding-left: 25px">
      <button
        style="
          padding: 10px 20px;
          margin: 1px;
          border-radius: 3px;
          background-color: rgb(89, 63, 129);
          border: none;
        "
      >
        Main Table</button
      ><button
        style="
          padding: 10px 20px;
          margin: 1px;
          border-radius: 3px;
          background-color: rgb(89, 63, 129);
          border: none;
        "
      >
        Main Table</button
      ><button
        style="
          padding: 10px 20px;
          margin: 1px;
          border-radius: 3px;
          background-color: rgb(89, 63, 129);
          border: none;
        "
      >
        Main Table
      </button>
    </div> -->
    <br />
    <hr
      style="margin-left: 25px; margin-right: 25px; border: 1px solid #3b275c"
    />
    <app-sale-manager></app-sale-manager>
  </div>
</div>
