<div style="margin: auto; max-width: 400px">
  <div
    style="
      /* background-color: #f9f9f9; */
      /* padding: 40px; */
      border-radius: 10px;
      /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); */
    "
  >
    <!-- <h2 style="text-align: center; color: #333">Sign Up</h2> -->
    <form
      (ngSubmit)="onRegisterSubmit(registerForm)"
      #registerForm="ngForm"
      style="margin-top: 20px"
    >
      <div style="margin-bottom: 10px">
        <label for="firstName" style="color: #555">First Name:</label>
        <input
          type="text"
          placeholder="Enter your first name"
          id="firstName"
          name="firstName"
          ngModel
          required
          style="
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
          "
        />
      </div>
      <div style="margin-bottom: 10px">
        <label for="lastName" style="color: #555">Last Name:</label>
        <input
          type="text"
          placeholder="Enter your last name"
          id="lastName"
          name="lastName"
          ngModel
          required
          style="
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
          "
        />
      </div>
      <div style="margin-bottom: 10px">
        <label for="businessName" style="color: #555">Business Name:</label>
        <input
          type="text"
          placeholder="Enter your business name"
          id="businessName"
          name="businessName"
          ngModel
          required
          style="
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
          "
        />
      </div>
      <div style="margin-bottom: 10px">
        <label for="email" style="color: #555">Email:</label>
        <input
          type="email"
          placeholder="Enter your email"
          id="email"
          name="email"
          ngModel
          required
          style="
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
          "
        />
      </div>
      <div style="margin-bottom: 10px">
        <label for="password" style="color: #555">Password:</label>
        <input
          type="password"
          placeholder="Enter your password"
          id="password"
          name="password"
          ngModel
          required
          style="
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
          "
        />
      </div>
      <br />
      <div style="text-align: center">
        <button
          type="submit"
          class="btn"
          style="
            background-color: #4caf50;
            color: #fff;
            padding: 10px 40px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          "
        >
          Sign Up
        </button>
      </div>
    </form>
    <div style="text-align: center; margin-top: 20px">
      <p>
        Already have an account?
        <a [routerLink]="['/auth/signin']" style="color: #36f">Sign In</a> here.
      </p>
    </div>
  </div>
</div>
