body {
        font-family: Arial, sans-serif;
        padding: 15px;
}

.container {
        display: flex;
        flex-wrap: wrap;
}

.column {
        flex-basis: 46%;
        padding: 2%;
}

.form-group {
        margin-bottom: 10px;
}


label {
        /* font-weight: bold; */
        display: block;
        padding-bottom: 5px;
        color: #aaaaaa;
                
}
 option {
         color: #aaa;
 }
 ::placeholder {
         color: #aaa;
 }

input[type="text"],
input[type="email"],
select {
        width: 100%;
        color: #8b8a8a;;
        height: 40px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
}

input[type="submit"] {
        background-color: #007bff;
        height: 40px;
        color: #fff;
        padding: 10px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}

input[type="submit"]:hover {
        background-color: #0056b3;
}

.close-button {
        background-color: #ff5733;
        margin-top: 15px;
        /* Background color */
        color: #fff;
        /* Text color */
        border: none;
        /* Remove button border */
        padding:10px 15px;
        /* Adjust padding as needed */
        cursor: pointer;
        /* Show pointer cursor on hover */
        border-radius: 5px;
        /* Rounded corners */
        /* font-weight: bold; */
        /* Make text bold */
}

.close-button:hover {
        background-color: #e53935;
        /* Change background color on hover */
}