<div class="main-content">
  <!-- <h2>Today's Sales</h2> -->
  <h2>Sales Report</h2>
  <div style="float: right">
    <div class="date-filter">
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" style="margin-right: 10px" />

      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" style="margin-right: 10px" />

      <button
        style="
          padding: 5px 10px;
          background-color: rgb(30, 33, 42);
          width: 70px;
          color: #fff;
          border: none;
          cursor: pointer;
          border-radius: 5px;
        "
      >
        Filter
      </button>
    </div>
  </div>
  <br />
  <!-- Date and Duration Filter -->
  <!-- <div>
    <label for="selectedDate">Select Date:</label>
    <input type="date" id="selectedDate" />

    <label for="selectedDuration">Select Duration (days):</label>
    <input type="number" id="selectedDuration" />
  </div> -->

  <!-- Employee data table or other content goes here -->
  <table>
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Units</th>
        <th>Sales</th>
        <!-- Add more columns as needed -->
      </tr>
    </thead>
    <tbody>
      <!-- Populate employee data dynamically -->
      <tr *ngFor="let item of totalsales">
        <td>{{ item.productName }}</td>
        <td>{{ item.units }}</td>
        <td>{{ item.sales }}</td>
        <!-- Add more rows as needed -->
      </tr>
      <br />

      <tr style="border: 1px solid #aaa">
        <td>Total</td>
        <td>{{ calculateTotals().totalUnits }}</td>
        <td>R {{ calculateTotals().totalSales }}</td>
      </tr>
    </tbody>
  </table>
</div>
