table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
}

table,
th,
td {
        /* border: 1px solid #ddd; */
}

th,
td {
        padding: 12px;
        text-align: left;
        font-size: 14px;
}

th {
        background-color: #cacaca;
        color: rgb(78, 78, 78);
}